rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /fishing_log/{fishing_log_item} {
      function isAuthorized() {
        return request.auth != null;
      }

      function isValidAuthorRequest() {
        return isAuthorized() && request.auth.uid == request.resource.data.author_uid;
      }

      function isAuthor() {
        return isAuthorized() && request.auth.uid == resource.data.author_uid;
      }

      allow create: if isValidAuthorRequest();
      allow read, write: if isAuthor();
    }
  }
}
